.col {
  border: 2px solid black;
  height: auto;
  width: auto;
  font-size: 1.4em;


}

#text {
  margin-top: 10px;
}

body {
  background-color: rgb(150, 150, 150);
}

h1 {
  color: brown;
  font-size: 1.2em;
  padding: 10px;
}

#textarea {
  margin-top: 60px;

}

#robo {
  width: 80px;
}

#name {
  margin-top: 5px;
  padding: 0;
}

#name1 {
  margin-top: 10px;
}

#viesti {
  margin-top: 10px;
}

#note1 {
  margin-top: 10px;
}

#important {
  margin-top: 15px;
}

#btn {
  margin-top: 20px;
}

#pp {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  margin-top: 10px;
  text-align: center;
}

#name2 {
  width: 100%;
}

#viesti {
  width: 100%;
}

.important {
  text-align: center;
  border: 1.5px solid red;
  width: 100%;

}

#h3 {
  border: hide;
}

@media screen and (max-width: 1000px) {
  #robo {
    display: none;
  }

}