body {
    background-color: rgb(150, 150, 150);
}

h1 {
    color:brown;
    font-size: 1.2em;
    padding: 10px;
}

h2 {
    color:brown;
    font-size: 2em;
}

#robo {
    width: 80px;
}

@media screen and (max-width: 1000px) {
    #robo {
        display: none;
    }
}

